* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: 'segoe ui';
}

.nav-container {
  background-color: #4d4d4d;
}

.nav {
  height: 50px;
  width:80%;
  margin:auto;
  background-color: #4d4d4d;
  position: relative;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  height: 50px;
}

.nav > .nav-header > .nav-title img {
  height: 100%;
  width: 100%;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 18px;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #efefef;
}

.nav > .nav-links > a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.nav > #nav-check {
  display: none;
}

@media (max-width:600px) {
  .nav {
    width: 100%;
  }
  .nav > .nav-header > .nav-title {
    margin-left: 15px;
  }
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #333;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
    z-index: 1;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}

/*  ------------- Slider ------------- */

#slider {
  max-height: calc(90vh - 100px);
  display: initial;
}

/* Slideshow container */
.slideshow-container {
  width: 80%;
  margin: 10px auto;
  max-width: 100%;
  position: relative;
  height: 100%;
}

.slideshow-container img {
  vertical-align: middle;
  width: 100%;
  max-height: calc(90vh - 50px);
}

.mySlides {
  display: none;
  height: 100%;
}

.active-slide {
  display: block;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.2);
}

#slider-buttons {
  text-align:center;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active-dot, .dot:hover {
  background-color: #717171;
}


/*  ------------- Cards ------------- */
/* Float the columns side by side */
.column {
  float: left;
  width: 33.3%;
  padding: 0 10px;
}

.row {
  margin: 50px auto;
  width: 80%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  clear: both;
  display: table; /* without this, the row won't have a height and would miss divs after it */
}

.container {
  height: 600px;
  border-radius: 10px;
  box-shadow: 0px 5px 15px #ebebeb;
}
.upper {
  height: 70%;
  box-sizing: border-box;
  border-radius: 9px 9px 0 0;
  text-align: center;
}
.upper img {
  height: 100%;
  width: 100%;
}
.lower {
  height: 30%;
  border-radius: 0 0 9px 9px;
  box-sizing: border-box;
  background-color: #F7FCFA;
  border-left: 2px solid #ccc;
  border-bottom: 2px solid #ccc;
  border-right: 2px solid #ccc;
}
.title {
  margin: 0;
  padding-top: 20px;
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  color: #8A99A0;
}
.card-content {
  padding: 0 20px;
  font-size: 18px;
  line-height: 1.4;
}
.container a {
  text-decoration: none;
  color: #8A99A0;
}

/* Responsive columns */
@media screen and (max-width: 1000px) {
  .column {
    width: 50%;
    display: block;
    margin-bottom: 20px;
  }
  .row {
    margin: 40px auto;
  }
}

@media screen and (max-width: 600px) {
  .slideshow-container, .row {
    width: 90%;
  }
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
    padding: 0;
  }
  .row {
    margin: 30px auto;
  }
}

/*  ------------- Footer ------------- */
body {
  position: relative;
}

#main-content {
  padding-bottom: 250px;
}

footer{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #4d4d4d;
  height: 250px;
  width: 100%;
  color: #fff;
  padding: 40px 0;
}

.footer-content{
  width:80%;
  margin:auto;
  text-align: center;
}

.footer-content h3{
  font-size: 2.1rem;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 3rem;
  margin-top: 0;
}

.footer-content p{
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
  color: #cacdd2;
}

.socials{
  list-style: none;
  padding: 0;
}

.socials li {
  display: inline;
  margin: 0 10px;
}

.socials a{
  text-decoration: none;
  color: #7e7e7e;
  border: 1.1px solid white;
  padding: 5px;
  border-radius: 50%;
}

.socials a i{
  font-size: 1.1rem;
  width: 20px;
  transition: color .4s ease;
}

.socials a:hover i{
  color: #eee;
}

@media (max-width:600px) {
  #main-content {
    padding-bottom: 200px;
  }

  footer{
    height: 200px;
    padding: 20px 0;
  }

  .footer-content h3{
    margin-bottom: 20px;
  }
}

/*  ------------- Product Page ------------- */
#main-content #product-img, #main-content #product-details {
  float: left;
  height: 100%;
}

#product {
  height: 500px;
  border-radius: 9px;
  box-shadow: 0px 5px 15px #ebebeb;
  background-color: #f5f5f5;
  border: 2px solid #ccc;
}

#product-img {
  width: 40%;
}

#product-img img {
  width: 100%;
  height: 100%;
  border-radius: 9px 0 0 9px;
}

#product-details {
  width: 60%;
  padding: 10px 25px;
  border-radius: 0 9px 9px 0;
}

#product-details h3 {
  text-align: center;
  font-size: 2.1rem;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 3rem;
  margin-top: 15px;
}

#product-details h3:after{
  content:' ';
  display:block;
  border:2px solid black;
  border-radius:4px;
}

#product-details p {
  color: #4d4d4d;
  font-style: italic;
}

@media (max-width:600px) {
  #main-content #product-img, #main-content #product-details {
      width: 100%;
  }

  #main-content #product-img {
      height: 40%;
  }

  #main-content #product-details {
      height: 60%;
      border-radius: 0 0 9px 9px;
      border-left: 2px solid #ccc;
      border-bottom: 2px solid #ccc;
      border-right: 2px solid #ccc;
  }

  #product-img img {
      border-radius: 9px 9px 0 0;
  }

  #product-details h3 {
      margin: 10px 0;
  }
}

/*  ------------- Forms ------------- */
form {
  max-width: 480px;
  margin: 10px auto;
  padding: 10px 20px;
  background: #f4f7f8;
  border-radius: 8px;
}

form h1 {
  margin: 0 0 30px 0;
  text-align: center;
  text-transform: capitalize;
}

form input[type="text"],
form input[type="password"],
form input[type="date"],
form input[type="datetime"],
form input[type="email"],
form input[type="number"],
form input[type="search"],
form input[type="tel"],
form input[type="time"],
form input[type="url"],
form textarea,
form select {
  background: rgba(255,255,255,0.1);
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 100%;
  background-color: #e8eeef;
  color: #8a97a0;
  margin-bottom: 30px;
}

form textarea {
  resize: vertical;
}

form input[type="radio"],
form input[type="checkbox"] {
  margin: 0 4px 8px 0;
}

form select {
  padding: 6px;
  height: 32px;
  border-radius: 2px;
}

form button {
  padding: 19px 39px 18px 39px;
  color: #FFF;
  background-color: #4d4d4d;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 100%;
  border: 1px solid #4d4d4d;
  border-width: 1px 1px 3px;
  margin-bottom: 10px;
  cursor: pointer;
}

form fieldset {
  margin-bottom: 30px;
  border: none;
}

form legend {
  font-size: 1.4em;
  margin-bottom: 10px;
}

form label {
  display: block;
  margin-bottom: 8px;
}

form label.light {
  font-weight: 300;
  display: inline;
}

form .number {
  background-color: #4d4d4d;
  color: #fff;
  height: 30px;
  width: 30px;
  display: inline-block;
  font-size: 0.8em;
  margin-right: 4px;
  line-height: 30px;
  text-align: center;
  border-radius: 100%;
}

form button:hover {
  background-color: rgba(0, 0, 0, 0.6);
}
